@import 'foundation-sites/scss/settings/_settings';

$global-radius: 30px;
$active-color: #2fb5da;
$body-background: #d7ecfa;

$callout-background-fade: 40%;
$callout-font-color: $body-font-color;
$callout-font-color-alt: $body-background;

$topbar-background: #3d454f;
$topbar-title-spacing: 0 2rem 0 2rem;
